{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" style="background-color:#eee">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
        <title>{% block title %}{% endblock %}</title>
        {% block favicon %}<link href="{% static 'imgs/favicon.jpg' %}" rel="shortcut icon">{% endblock %}
        {% block css %}
        <link href="{% static 'material/css/materialize.css' %}" rel="stylesheet">
        <link href="{% static 'material/css/jquery.datetimepicker.css ' %}" rel="stylesheet">
        <link href="{% static 'material/css/forms.css ' %}" rel="stylesheet">
        <link href="{% static 'material/frontend/css/frontend.css' %}" rel="stylesheet">
        <link href="{% static 'material/fonts/material-design-icons/material-icons.css' %}" rel="stylesheet">
        {% endblock %}

        {% block js %}
        <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
        <script src="{% static 'material/js/materialize.js' %}"></script>
        <script src="{% static 'material/js/jquery.datetimepicker.js' %}"></script>
        <script src="{% static 'material/js/jquery.formset.js' %}"></script>
        <script src="{% static 'material/frontend/js/jquery.activeNavigation.js' %}"></script>
        <script src="{% static 'material/frontend/js/jquery.pjax.js' %}"></script>
        <script src="{% static 'material/js/material_init.js' %}"></script>
        <script src="{% static 'material/frontend/js/frontend.js' %}"></script>
        {% endblock %}

        {% block extrahead %}{% endblock %}
    </head>
    <body>
        {% if user.is_authenticated %}{% block user_menu %}{% include 'user_menu.html' %}{% endblock %}{% endif %}
        <header>
            <nav class="nav-top green">
                <a href="#" data-activates="nav-mobile" class="button-collapse full"><i class="material-icons">menu</i></a>

                <div class="nav-wrapper">
                    <div class="page-title hide-on-med-and-down">
                        {% block page_title %}<a href="/">{% trans "Viewflow" %}</a>{% endblock %}
                    </div>
                    
                    <ul class="right">
                        {% block top_menu_extra %}
                        {% endblock %}
                        {% block user_menu_dropdown %}
                          {% if user.is_authenticated %}
                            <li>
                              <a class="dropdown-button constrain_width" href="#!" data-activates="user-menu">
                              {{ user.get_full_name|default:user.username }}
                              <i class="material-icons right">arrow_drop_down</i></a>
                            </li>
                          {% else %}
                            <li><a href="{% url 'login_caja' %}" alt="Login"><i class="material-icons">lock</i></a></li>
                          {% endif %}
                        {% endblock %}
                    </ul>
                </div>
                <ul id="nav-mobile" class="side-nav fixed module-menu">
                    <li class="logo valign-wrapper">
                        <a href="/" class="no-navigation">{% block page_logo %}<img class="responsive-img" height="100" width="145" src="{% static 'imgs/logo.gif' %}">{% endblock %}</a>
                    </li>
                {% include 'menu.html' %}
                </ul>
            </nav>
        </header>
        <main>
            {% block main %}
            {% block breadcrumbs %}
            <div class="breadcrumbs">
                <div class="green darken-2 white-text">
                    {% block breadcrumbs_items %}
                    {% endblock %}
                </div>
            </div>
            {% endblock %}
            {% block content %}
            <div class="row">
            </div>
            {% endblock %}
            {% endblock %}

            {% block messages %}
            {% if messages %}
            <script type="text/javascript">
                $(document).ready(function() {
                    {% for message in messages %}
                        Materialize.toast('{{ message|capfirst }}', 10000, 'alert-{{ message.tags }}') 
                    {% endfor %}
                });
            </script>
            {% endif %}
            {% endblock %}
        </main>
        {% block load_indicator %}
        <div id="load_indicator" class="preloader-wrapper big active" style="position:absolute;left:45%;top:45%;display:none">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left"><div class="circle"></div></div>
                <div class="gap-patch"><div class="circle"></div></div>
                <div class="circle-clipper right"><div class="circle"></div></div>
            </div>
        </div>
        {% endblock %}
    </body>
</html> 
