{% extends "admin/base_site.html" %}
{% load i18n admin_static material_form %}

{% block title %}login{% endblock title %}
{% block content %}
<div class="row">
    <div class="col s12 offset-m3 m6">
        <div class="card">
            <div class="card-content">
                <span class="card-title black-text">{% trans 'Log in' %}</span>
                <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
                    <small class="error">
                        {{resp.msj}}
                    </small>
                    <div class="row">
                        <div class="input-field col s12 required">
                        <i class="mdi-action-account-box prefix"></i>
                        <input id="id_email" type="email" name="email">
                        <label for="id_email" class="active">Correo electronico</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 required">
                            <i class="mdi-action-lock prefix"></i>
                            <input id="id_password" type="password" name="password">
                            <label for="id_password" class="active">Contraseña</label>
                        </div>
                    </div>
                    <div class="card-action right-align">
                        <button type="submit" class="btn btn-primary">Iniciar sesion</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
