                  {% if user.is_authenticated %}
                    <li class="no-padding">
                        <div class="collapsible-body" style="display:block">
                            <ul class="collapsible" data-collapsible="accordion">
                                <li class="header active">
                                    <a href="{% url 'index_persona'%}" class="collapsible-header active">
                                    <i class="material-icons admin-appicon admin-appicon-auth"></i>
                                    Personas</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="no-padding">
                        <a class="collapsible-header no-pjax" href="#">Cajas</a>
                    </li>
                    {% endif %}
