{% extends 'base_module.html' %}
{% block title %}Personas Registradas{% endblock title %}
{% block page_title %}
<a>Gestion de personas</a>
{% endblock page_title %}
{% block content %}
<div class="row">
    <div class="col s12 m8 l12">
    	<div class="card data-card">
    		<div class="card-content">
		        <div class="results">
		            <div id="result_list_wrapper" class="dataTables_wrapper no-footer">
			            <table id="result_list" class="table bordered dataTable no-footer" role="grid">
			            	<thead>
			            <tr class="row1 odd" role="row">
			                	<th scope="col" class="sortable column-name sorting_disabled" rowspan="1" colspan="1">
			                        <span>Nombre</span>
			                	</th>
			                	<th scope="col" class="column-__str__ sorting_disabled" rowspan="1" colspan="1">
			                        <span>Apellido</span>
			                	</th>
			                	<th scope="col" class="column-__str__ sorting_disabled" rowspan="1" colspan="1">
			                        <span>Cedula</span>
			                	</th>
			                	<th scope="col" class="column-__str__ sorting_disabled" rowspan="1" colspan="1">
			                        <span>Email</span>
			                	</th>
			            </tr>
			        </thead>
			        <tbody>
				        {%for persona in personas %}
				        <tr class="row1 odd" role="row">
				        	<th><a href="#">{{persona.name}}</a></th>
				        	<td>{{persona.last_name}}</td>
				        	<td>{{persona.cedula}}</td>
				        	<td>{{persona.email}}</td>
				        </tr>
				        {% endfor %}
			        </tbody>
			        </table>
		            </div>
		        </div>
		        <div class="row">
			        <div class="col s12">
			        	<div class="col s12">
			        		<div class="right">
			        			<small>
			        				{{personas.count}} Persona
			        			</small>
			        		</div>
			        	</div>
			        </div>
		        </div>
    		</div>
		</div>
	</div>
</div>
<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light red z-depth-2" href="/admin/core/persona/add/">
		<i class="large material-icons">add</i>
	</a>
</div>
{% endblock %}